doctype html
html
  head
    title Reset Password
    style(type='text/css').
      body {
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }
      .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
  body
    div(class='container')
      table(border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;")
        tr
          td(style="padding: 20px 0; text-align: center;")
            h2(style="margin-bottom: 20px;") Your password has been changed
            p(style="margin-top: 20px;") Regards,<br/ Your Company Name