* {
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.page {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: #fff;
  font-size: 14px;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background: orange;
  margin-left: auto;
  appearance: none;
  cursor: pointer;
}

.form-row {
  margin-bottom: 35px;
}


.inputWrapper {
  width: 100%;
  height: 34px;
  font-size: 14px;
  position: relative;
  color: blue;
}

.input {
  width: 100%;
  height: 100%;
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid blue;
  font-size: 14px;
  padding: 0 15px;
}

.label {
  position: absolute;
  top: 12px;
  left: 15px;
  transition: all .3s ease-in-out;
}

.input:focus ~ .label, .input.active ~ .label {
  top: -15px;
  left: 0;
  font-size: 12px;
}

.header {
  background: rgba(39, 170, 225);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100px;
}

.logo-img {
  height: 100px;
}

.nav-list {
  display: flex;
  color: blue;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list__item {
  margin-right: 25px;
}

.nav-list__item a {
  color: blue;
  font-size: 14px;
  text-decoration: none;
}

.nav-list__item a.active {
  font-weight: 600;
  pointer-events: none;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.chatpage_inner {
  display: flex;
  padding: 20px 0;
}

.chats_list {
  width: 20%;
}

.chatbox {
  width: 80%;
}

.userpic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  object-fit: cover;
  margin-right: 15px;
}

.chats_list_item, .message  {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.chats_list_item:hover {
  cursor: pointer;
}

.username {
  font-size: 18px;
}

.message_input {
  display: block;
  width: 100%;
  height: 80px;
  resize: none;
  margin-bottom: 15px;
}